# Java
*.class
*.jar
*.war
*.ear

# Eclipse
.metadata
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# Mac OS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
logs/
*.log

# Spring Boot
target/
*.jar
*.war

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Gradle
.gradle/
build/

# Environment variable files
.env

# Database files
*.h2.db
*.mv.db

# API folder
api/target/

# Web folder
web/target/

# Temporary files
tmp/
temp/

# OS-specific files
.DS_Store
Thumbs.db
